html, body {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0;
}

/* ====================================================================================================================
                                     HEADER
   ==================================================================================================================== */

/* Navigation Bar */

.navbar, .navbar-inverse {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    min-height: 50px;
}

.nav li {
    display: inline;
    color: #ffffff;
}

.nav li i {
    margin-right: 8px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}

.navbar-inverse .navbar-nav li a:hover {
    background-color: #444444;
    transition: 0.7s all linear;
    height: 100%;
}

/* Logo */

.logo {
    float: left;
    line-height: 100px;
}

/* Social Media Navigation */

.social-media-wrapper {
    min-height: 100px;
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    float: right;
}

.social-media-wrapper p {
    color: #111111;
    line-height: 24px;
    clear: both;
    font-size: 24px;
    letter-spacing: 0.4px;
    display: inline;
}

.social-media-wrapper i {
    color: #1761a0;
    padding: 38px 25px;
    margin: 0 auto;
}

#fb:hover {
    background: #1761a0;
    color: #ffffff;
    transition: 0.5s ease;
}

#ld:hover {
    background: darkred;
    color: #ffffff;
    transition: 0.5s ease;
}

#git:hover {
    background: #177837;
    color: #ffffff;
    transition: 0.5s ease;
}

#mail:hover {
    background: #CCC500;
    color: #ffffff;
    transition: 0.5s ease;
}

/*------------------------------------------Parallax--------------------------------------------------------------*/

.parallax {
    background-image: url("../img/parallax.jpg");
    height: 548px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-page .inner-content {
    padding: 25px;
    background: rgba(255,255,255,0.7);
    display: table;
    height: 510px;
    width:calc(100% - 40px);
    margin-top: 20px;
    margin-left: 20px;
}

.header-content{
    display: table-cell;
    vertical-align: middle;
}

.header-content h1 {
    text-align: center;
    font-size: 3rem;
}

.header-content p {
    text-align: center;
    font-size: 2rem;
}
/*------------------------------------------About Me--------------------------------------------------------------*/

.photo-with-quote {
    text-align: center;
    margin-top: 80px;
}

.photo-with-quote p {
    font-size: 1.6rem;
    font-weight: 100;
    letter-spacing: 0.4px;
    color: #888888;

}

.photo-with-quote i {
    color: #1761a0;
}

.photo-with-quote img {
    width: 280px;
    height: 400px;
    top: 80px;
    margin-bottom: 20px;
}

.full-description {
    margin-top: 80px;
}

.full-description p {
    margin: 15px 0;
    text-align: justify;
    font-size: 1.6rem;
    letter-spacing: 0.4px;
}

.full-description h3 {
    margin: 0 auto;
    padding: 10px;
    display: inline-block;
    background: #3f801d;
    color: #ffffff;
}

.full-description i {
    font-size: 3rem;
    margin-right: 15px;
}


/*------------------------------------------Footer--------------------------------------------------------------*/

footer {
    color: #ffffff;
    width: 100%;
    margin-top: 120px;
    float: left;
    background: #1761a0;
    min-height: 200px;
}

.footer-inner {
    height: 200px;
    display: table;
}

.footer-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.footer-content a {
    color: #ffffff;
    text-decoration: none;
}

ul.social-media {
    padding: 0;
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
}

ul.social-media li {
    list-style-type: none;
    display: inline;
    padding: 5px;
}

ul.social-media li a:hover {
    transition: 0.5s ease;
    color: #E1EC16;
}

.footer-contact-info {
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
}

.footer-contact-info h4 {
    margin-bottom: 15px;
}

.footer-contact-info i:before {
    margin-right: 15px;
}

.footer-contact-info p {
    text-align: left;
    display: inline-block;
}


/* ==========================================================================
   Responsive
   ========================================================================== */

@media (max-width: 991px) {
    .social-media-con {
        display: none;
    }
}

@media (max-width: 767px) {
    .footer-main-adress {
        border-bottom: 1px solid #ffffff;
    }
}

@media (max-width: 640px) {

    .logo {
        width: 100%;
        text-align: center;
    }

    .social-media-wrapper {
        width: 100%;
        justify-content: center;
    }
}

@media (min-width: 492px) and (max-width: 640px) {
    .social-media-wrapper a {
        width: 25%;
        text-align: center;
    }

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
